<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Novo Orçamento </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-item>
    <h3>Total: {{ total }}</h3>
  </ion-item>
  <ion-item *ngIf="budgetId && budgets !== null && budgets.length > 0">
    <div>
      <ion-button fill="outline" expand="block" color="dark" (click)="updateBudget()">
        <ion-icon slot="start" name="save"></ion-icon>
        Atualizar</ion-button>
    </div>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="*Cliente:" name="client" [(ngModel)]="client"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="*Mão de Obra:" name="labor" [(ngModel)]="labor"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="*Qtd.:" name="quantity" [(ngModel)]="modelBudget.quantity"
            (input)="updateTotalValue()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Unidade:" name="unit" [(ngModel)]="modelBudget.unit" placeholder="Peça"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="*Descrição:" name="description" [(ngModel)]="modelBudget.description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="*Valor Unitário R$:" name="unitaryValue" [(ngModel)]="modelBudget.unitaryValue"
            (input)="updateTotalValue()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Valor Total R$:" name="totalValue" [(ngModel)]="modelBudget.totalValue"
            disabled></ion-input>
        </ion-item>
      </ion-list>
      <ion-button fill="outline" expand="block" color="dark" (click)="addBudget()">
        <ion-icon slot="start" name="add"></ion-icon>
        Adicionar
      </ion-button>
      <ion-button fill="outline" expand="block" color="dark" *ngIf="!budgetId && budgets !== null && budgets.length > 0"
        (click)="createBudget()">
        <ion-icon slot="start" name="save"></ion-icon>
        Salvar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div *ngIf="budgets !== null && budgets.length > 0">
    <ion-card *ngFor="let budget of budgets; let index = index">
      <ion-card-header>
        <ion-card-subtitle>Quantidade {{ budget.quantity }}</ion-card-subtitle>
        <ion-card-title>Cliente: {{ client }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col><ion-label>Unidade.</ion-label></ion-col>
            <ion-col><ion-label>Descrição</ion-label></ion-col>
            <ion-col><ion-label>Valor Unitário</ion-label></ion-col>
            <ion-col><ion-label>Valor Total.</ion-label></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col><ion-label>{{ budget.unit }}</ion-label></ion-col>
            <ion-col><ion-label>{{ budget.description }}</ion-label></ion-col>
            <ion-col><ion-label>{{ budget.unitaryValue }}</ion-label></ion-col>
            <ion-col><ion-label>{{ budget.totalValue }}</ion-label></ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" color="dark" (click)="removeItemBudget(index)">
          <ion-icon slot="start" name="trash-bin"></ion-icon>
          Remover
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>