<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BCar Orçamentos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" [debounce]="1000" (ionInput)="handleInput($event)"
      placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="searchFlag">
    <ion-card-header>
      <ion-card-title>Atenção!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nenhum registro encontrado.
    </ion-card-content>
  </ion-card>
  <div class="spinner-container" *ngIf="isLoading">
    <ion-spinner color="medium"></ion-spinner>
  </div>
  <app-custom-card5 (callParentFunctionEditNavigate)="editNavigate($event)"
    (callParentFunctionGetBudget)="getBudget($event)" (callParentFunctionRemoveBudget)="removeBudget($event)"
    [list]="budgets" *ngIf="!isLoading">
  </app-custom-card5>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>