<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Orçamentos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let budget of budgets">
    <!-- <ion-item *ngFor="let budget of budgets | async"> -->
    <!-- <ion-item (click)="editNavigate(budget.id)">
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Nº: {{ budget.id }}</ion-label></ion-col>
          <ion-col><ion-label>Cliente: {{ budget.client }}</ion-label></ion-col>
          <ion-col><ion-label>{{ budget.reference }}</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <ion-card (click)="editNavigate(budget.id)" color="light">
      <ion-card-header>
        <ion-card-subtitle>Nº: {{ budget.id }}</ion-card-subtitle>
        <ion-card-title>Cliente: {{ budget.client }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ budget.reference }}
      </ion-card-content>
    </ion-card>
    <ion-item>

      <ion-button (click)="removeBudget(budget.id)">Remover</ion-button>
      <ion-button (click)="getBudget(budget.id)">Baixar Orçamento</ion-button>

    </ion-item>
  </ion-list>
</ion-content>