<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="profile">
          <ion-avatar>
            <img src="assets/images/avatar/8380015.jpg">
          </ion-avatar>
          <h2 class="name">Amanda</h2>
        </div>
        <app-custom-side-menu [menuList]="pageList"></app-custom-side-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>