<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <ion-item [button]="true" (click)="cleanData()">
        <ion-icon color="danger" slot="start" name="settings" size="large"></ion-icon>
        <ion-label>Limpar Dados</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="useClient()">
        <ion-icon color="{{configUseClient ? 'primary' : 'danger'}}" slot="start" name="settings" size="large"></ion-icon>
        <ion-label>Usar Clientes Registrados</ion-label>
      </ion-item>
    </div>
</ion-content>